*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(215, 234, 240);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family:sans-serif;
}
.container{
    width: 100%;
    background-color: #eaeaf6;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin:0px 10%;
  box-sizing: border-box;
  padding:20px;
}
/* ------------------------------------ */
/* left side start */
.container .left-side{
    height:100%;
    position:relative;
    
   
}
/*style for header profile */
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    padding: 15px;
    background-color: rgb(62, 49, 209);
}
.profile .profile-img{
    position: relative;
    width: 150px;
    height:150px;
    border-radius: 50%;
    overflow: hidden;
}
.profile .profile-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile h1{
    font-size:23px;
    margin: 5px 0px;
    text-transform: uppercase;
    color:white;
    
}
.profile h1:hover{
    animation-name: example;
    animation-duration: 4s ;
    animation-timing-function: ease-in-out;
    
}
.profile h2{
    font-size:20px;
    text-transform: uppercase;
    color:white;   
}
.link #github::after{
content:"githubid";
color: white;
padding:5px;
transition: 4s;
}

@keyframes example {
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: rgb(104, 26, 112);}
    100% {color: green;}
  }

.link #linkedin::after{
    content:"linkedinid";
    color: white;
    padding: 5px;
    }
    .link a{
        text-decoration: none;
        color: white;   
        margin:0px 0px 0px 5px;
    }
.link{
    margin-top:5px;
}
         /* left side header end */
/* -------------------------------------- */
           /* style for main */
.left-side main{
    position: relative;
    width: 100%;
    background-color: rgb(18, 18, 14);
    color: white;
    padding: 20px;
}
/* --------------------- main-contact area */
.main-contact h3{
    border-bottom: 1px solid white;
}
.main-contact h3 .fa-address-book{
    color:green;
}
.main-contact ul{
    padding: 10px;
    list-style-type: none;
    
}
/* --------------------  main-skill area */

.main-skill h3{
    border-bottom: 1px solid white;
}
.fa-brain {
    color:#aff903;
}
.main-skill .percent{
    position: relative;
    width: 100%;
    height:5px;
    background: #000;
    display: block;
    margin:5px;
    border-radius: 5px;
 
}
.main-skill .percent div{
    position: absolute;
    background: #038af9;
 height: 100%;
 border-radius: 5px;
}
.main-skill ul{
    padding: 10px;
    list-style-type: none;
}
main .main-skill h3{
    border-bottom: 1px solid white;
}
/* ------------------- main-certificates area */
.main-Certificates h3{
    border-bottom: 1px solid white;
}
.main-Certificates p{
    padding: 10px;
}
/*------- left side main end--------*/
 
         /* left side compleate  */

/* --------------------------------------------------- */

/* right side start */
.container .right-side{
    height: 100%;
    display:flex;
flex-direction: column;
flex-wrap: wrap;
    row-gap: 10px;
    margin:0px 30px;
}
.right-side h3{
    color:rgb(2, 140, 252);
    border-bottom: 2px solid black;
   
}
.right-side-object h3{
 text-transform: uppercase;

}
.right-side-object p{
    padding-top: 10px;
    font-size: 16px;
}

.right-side-workexprience .workexprience-details {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 15px 0px 0px 20px;

}

.right-side-workexprience .rolename-and-fromto{
    display: flex;
    justify-content:space-between;
}



.projects ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 10px 0px 0px 20px;
}
.education ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 10px 0px 0px 20px;
}
@media (max-width:1000px) {
    .container{
        background-color: rgb(10, 10, 10);
        display: flex;
        flex-direction:column;
        flex-wrap: wrap;
        
    }
    .left-side main{
        background-color: white;
        color:black;
    }
    .right-side {
        padding-top: 20px;
        color:white;
    }
}


